.outer {
    width: 600px;
    margin: 0 auto;    
}

.details {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}